version: '{build}'
skip_tags: true
image: Visual Studio 2017
configuration: Release

install:
  - choco install gitversion.portable -pre -y
  - choco install codecov

before_build:
  - ps: gitversion /l console /output buildserver /updateAssemblyInfo
  - ps: msbuild /t:Restore /v:m

build:
  verbosity: minimal

artifacts:
- path: src/ModSink.WPF/bin/Release/net462/ModSink.WPF.exe
  name: binaries

test_script:
- cmd: dotnet test "src\ModSink.Common.Tests\ModSink.Common.Tests.csproj" --configuration Release --no-build  /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

after_test:
- cmd: codecov -f "src\ModSink.Common.Tests\coverage.opencover.xml" -t 78e056d7-ce59-4f6d-b177-85fa3501d898

deploy:
- provider: GitHub
  auth_token:
    secure: TLChfAMJcjhyw7dQ6WNllA/sc420Hq4fk9V9/VUD1kFOm4ZJpfiBlwaqdVRPbQeP
  artifact: binaries
  prerelease: true
  on:
    branch: master
